#location{
    width:800px;
}
#fine{
    width:100px;
    margin-left: 46%;
}
#inn{
    margin-top: 100px;
}
.void{
    margin-top: 200px;
}
#void{
    margin-top:100px;
    margin-bottom: 30px;
}
.bolt{
    text-decoration: none;
    color:white;

}
#well{
    margin: 8px;
    text-decoration: none;
    

}
#ginger{
    text-decoration: none;
    color:white;
}
